body{
    background-image:url(../img/joinha.jpg);
  background-size: 2000px;
}

.texto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 68px;
    margin-top: 250px;
    margin-left: 455px;
}